.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.violet {
  background-color: violet;
}

.yellow {
  background-color: yellow;
}

.app-container {
  background-image: linear-gradient(#9ba9eb, #9ba9eb);
  height: 100vh;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .app-container {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
  }
}

.top-container {
  background-color: #5763a5;
  height: 47%;
  border-radius: 8px;
  margin-top: 4px;
  padding: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .top-container {
    flex-direction: column;
    height: 600px;
  }
}

.bottom-container {
  background-color: #5763a5;
  height: 38%;
  border-radius: 8px;
  margin-top: 25px;
  padding: 20px;
  overflow-y: auto;
}

.logo-image {
  width: 10%;
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .logo-image {
    width: 30%;
  }
}

.form {
  height: 40%;
  height: 50%;
  background-color: #454f84;
  padding: 20px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.add-heading {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  align-self: flex-start;
  margin-left: 6px;
}

.text-bar-container {
  width: 300px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .text-bar-container {
    width: 200px;
  }
}

.website-image {
  width: 10%;
  margin: 6px;
}

.input-bar {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  color: #94a3b8;
  width: 250px;
  outline: none;
  padding: 12px;
  margin-left: 4px;
  border-bottom: none;
  border-right: none;
  border-top: none;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .input-bar {
    width: 159px;
  }
}

.button-container {
  align-self: flex-end;
}

.button {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  background-color: #0b69ff;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.profile {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .profile {
    width: 80%;
    order: -1;
  }
}

.password-container {
  display: flex;
  align-items: center;
}

.your-password {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.count {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  margin-left: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 250px;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .search-container {
    order: -1;
  }
}

.search-image {
  width: 10%;
  margin: 6px;
}

.search-bar {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  color: #94a3b8;
  width: 250px;
  outline: none;
  padding: 12px;
  margin-left: 4px;
  border-bottom: none;
  border-right: none;
  border-top: none;
  border-radius: 5px;
}

.bottom-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .bottom-top-container {
    flex-direction: column;
  }
}

.line {
  border: 1px solid #ffffff;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.checkbox {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.show-password {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.password-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.no-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.on-password {
  width: 40%;
}

.title {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  title {
    font-size: 14px;
  }
}
